@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('../css/variables.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Montserrat: "Montserrat", sans-serif;
}

header {
    font-family: var(--Montserrat);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 8rem;
    z-index: 1000;
    margin: 2rem;

    ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 6rem;
    }

    li {
        a {
            color: var(--color-red);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

}