@import url('../css/variables.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-1);
}

.elemento {
    width: clamp(400px, 4vh, 500px);
    height: 50vh;
    background-image: url("../img/home/carta-fechada.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    /* Colocar sobra ao redor do png ao invés de colocar no quadrado da foto :) */
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.1)); 

    &:hover {
        cursor: pointer;
        background-image: url("../img/home/carta-aberta.png");
        width: clamp(400px, 4vh, 500px);
    }
}

.letter-open {
    width: clamp(400px, 4vh, 500px);
    height: 50vh;
    background-image: url("../img/home/cartas.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.1)); 

    &:hover {
        cursor: pointer;
        transform: rotate(5deg);
    }
}

