@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Montserrat: "Montserrat", sans-serif;
    --red: #a94053;
}

header {
    font-family: var(--Montserrat);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 8rem;
    z-index: 1000;
    margin: 2rem;
}

header a {
    text-decoration: none;
    color: var(--red);
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 6rem;
}

header a:hover {
    text-decoration: underline;
}

.nav-link.active {
    font-weight: bold;
}    
