@import url('css/variables.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-1);
}

.elemento {
    width: 50vh;
    height: 50vh;
    background-image: url("img/home/carta-fechada.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.elemento:hover {
    cursor: pointer;
    background-image: url("img/home/carta-aberta.png");
    width: 60vh;
    height: 60vh;
}

.carta {
    width: 50vh;
    height: 50vh;
    background-image: url("img/home/cartas.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        cursor: pointer;
        transform: rotate(5deg);
    }
}
