@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --Montserrat: "Montserrat", sans-serif;
    --Beth-Ellen: "Beth Ellen", cursive;

    --Background-Home: #FEFEF4;
    --Text-Hom: #004e7b;
    --red: #a94053:
}

body {

}

/* SECTIONS */

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home, .about {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

#home{
    background-image: url("img/background-home.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-color: var(--Background-Home); */
}

.curved-text {
    font-family: var(--Beth-Ellen);
    font-size: 1rem;
    margin-bottom: -20px;
}

.curved-text text {
    fill: var(--Text-Hom)
}

.curved-text-container {
    text-align: center;
    margin-bottom: 0;
    text-align: center;
    position: relative;
}

.curved-text path {
    fill: transparent;
}

.logo-peixe {
    width: 30%;
    transition: transform 0.3s ease;
}

.logo {
    margin-top: -18%; 
    position: relative;
    z-index: 2;
}

.logo-peixe:hover {
    cursor: pointer;
    transform: rotate(5deg);
    /* transform: rotate(5deg) scale(1.05); */
}

.gif-container {
    flex: 0 0 auto;
}

.gif-estrelas {
    width: 250px;
    height: auto;
}

#about{
    background-color: #add8e6;
}

.livro-fechado {
    width: 60%;
    transition: all 0.3s ease;
}

.livro-fechado:hover {
    cursor: pointer;
    transform: rotate(5deg);
}

.livro-fechado:not(.estatico):hover {
  filter: brightness(1.04);
}

.livro.aberto {
    transform: scale(1.1);
    /* background-image: url('img/page-1.png'); */
}

.bug img {
    width: 28%;
}

.bug img:hover {
    cursor: pointer;
    transform: rotate(-5deg) scale(1.03);
    filter: brightness(1.3);
}

.livro.estagio-2 .bug {
    display: block;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#contact{
    background-color: #add8e6;
    background-image: url("img/container-back.png");
    background-repeat: no-repeat;   
    background-position: center;
    height: 40vh;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
}

.contact-links {
    display: flex;
    gap: 1.5rem;
}

#contact i {
    font-size: 45px;
    display: inline-block; 
    width: auto; 
    color: var(--red);
}

#contact i:hover {
    transition: 0.3s;
    color: rgb(243, 224, 224);
}

.footer-copy {
    margin-top: 0.5rem;  
    padding-bottom: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1); 
}

.footer-copy p {
    font-family: var(--Montserrat);
    font-size: 0.85rem;    
    color: #777;          
    text-align: center;
    letter-spacing: 1px;   
    margin: 0.5rem;
}

.email {
    position: relative;
    z-index: 1;
}

.email:hover {
    cursor: pointer;
    transform: rotate(-5deg);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-image: url("img/divisoria.png");
    z-index: 1000;
    /* background-size: cover; */
}

.bug {
    display: none;
    position: absolute;
    top: 175%;
    left: 62%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
