@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');

@import url('css/variables.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --Montserrat: "Montserrat", sans-serif;
    --Beth-Ellen: "Beth Ellen", cursive;

    --Text-Hom: #004e7b;
}


/* SECTIONS */

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home, .about {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

#home{
    background-image: url("img/background-home.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.curved-text {
    font-family: var(--Beth-Ellen);
    font-size: 1rem;
    margin-bottom: -20px;
}

.curved-text text {
    fill: var(--Text-Hom)
}

.curved-text-container {
    text-align: center;
    margin-bottom: 0;
    text-align: center;
    position: relative;
}

.curved-text path {
    fill: transparent;
}

.home-logo {
    margin-top: -18%; 
    position: relative;
    z-index: 2;

    .logo-peixe {
        width: 30%;
        transition: transform 0.3s ease;

        &:hover {
            cursor: pointer;
            transform: rotate(5deg)
        }
    }   
} 

#about{
    background-color: var(--color-blue-light);
}

.livro-fechado {
    width: 60%;
    transition: all 0.3s ease;

    &:hover {
        cursor: pointer;
        transform: rotate(5deg);
    }
}

.livro-fechado:not(.estatico):hover {
  filter: brightness(1.04);
}

.livro.aberto {
    transform: scale(1.1);
    /* background-image: url('img/page-1.png'); */
}

.bug img {
    width: 28%;

    &:hover {
        cursor: pointer;
        transform: rotate(-5deg) scale(1.03);
        filter: brightness(1.3)        
    }
}

.livro.estagio-2 .bug {
    display: block;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#contact{
    background-color: var(--color-blue-light);
    background-image: url("img/container-back.png");
    background-repeat: no-repeat;   
    background-position: center;
    height: 40vh;

    i {
        font-size: 45px;
        display: inline-block; 
        width: auto; 
        color: var(--color-red);

        &:hover {
            transition: 0.3s;
            color: rgb(223, 173, 173);
        }        
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;;
    }

    .contact-links {
        display: flex;
        gap: 1.5rem;
    }

}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-image: url("img/divisoria.png");
    z-index: 1000;
}

.footer-copy {
    margin-top: 0.5rem;  
    padding-bottom: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1); 

    p {
        font-family: var(--Montserrat);
        font-size: 0.85rem;    
        color: #777;          
        text-align: center;
        letter-spacing: 1px;   
        margin: 0.5rem;        
    }
}

.bug {
    display: none;
    position: absolute;
    top: 175%;
    left: 62%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
