@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --Montserrat: "Montserrat", sans-serif;
    --Beth-Ellen: "Beth Ellen", cursive;

    --Background-Home: #FEFEF4;
    --Text-Hom: #004e7b;
}

body {

}

/* SECTIONS */

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home, .about {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

#home{
    background-color: var(--Background-Home);
}

.curved-text {
    font-family: var(--Beth-Ellen);
    font-size: 1rem;
    margin-bottom: -20px;
}

.curved-text text {
    fill: var(--Text-Hom)
}

.curved-text-container {
    text-align: center;
    margin-bottom: 0;
    text-align: center;
    position: relative;
}

.curved-text path {
    fill: transparent;
}

.logo-peixe {
    width: 30%;
    transition: transform 0.3s ease;
}

.logo {
    margin-top: -18%; 
    position: relative;
    z-index: 2;
}

.logo-peixe:hover {
    cursor: pointer;
    transform: rotate(5deg);
    /* transform: rotate(5deg) scale(1.05); */
}

.gif-container {
    flex: 0 0 auto;
}

.gif-estrelas {
    width: 250px;
    height: auto;
}

#about{
    background-color: lightblue;
}

.livro-fechado {
    width: 60%;
    transition: all 0.3s ease;
}

.livro-fechado:hover {
    cursor: pointer;
    transform: rotate(5deg);
}

.livro-fechado:not(.estatico):hover {
  filter: brightness(1.04);
}

.livro.aberto {
    transform: scale(1.1); /* Exemplo: ele aumenta um pouco */
    /* background-image: url('img/page-1.png'); */
    /* Você pode adicionar outros efeitos aqui, como sombra ou rotação */
}

#contact{
    background-color: rgb(230, 217, 173);
    height: 70vh;
}

.contact-container:hover {
    cursor: pointer;
    transform: rotate(-5deg);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-image: url("img/divisoria.png");
    /* background-size: cover; */
}
