section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.suitcase-close:hover {
    cursor: pointer;
    transform: rotate(5deg);
}

.bug-return {
    width: 7%;
    position: fixed;   
    bottom: 20px;      
    left: 20px;        
    z-index: 1000;     
}

.bug-return:hover {
    transform: scale(1.1) rotate(-5deg);
    filter: brightness(1.2);
    cursor: pointer;
}

